@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-auto flex items-center justify-center mx-[12px];
  }
    
  .navbar {
    @apply w-screen bg-white h-[72px] px-6 shadow-md flex items-center justify-between;
  }
}