@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.btn {
  @apply h-[40px] px-3 text-sm font-bold border-[1px] border-buttonBg ml-[0.8rem];
}
  
.btn-tl {
  @apply h-[100%] flex items-center justify-center my-[1.2rem] px-[0.5rem];
}
  
.btn-tl--text {
  @apply font-medium text-[13px] hover:text-hoverBg cursor-pointer;
}
  
.navbar {
  @apply w-screen bg-white h-[72px] px-6 shadow-md flex items-center;
}

}